<div class="trips-detail-container p-2">
  <div class="breadcrumbs text-sm">
    <ul>
      <li><a>Home</a></li>
      <li><a>Trip name</a></li>
    </ul>
  </div>
  <div class="trips-detail flex flex-col p-[8rem] pt-2">
    <div class="flex justify-center sm:flex-col lg:flex-row gap-4">
      <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center">
          <div class="flex flex-col gap-1">
            <h1 class="text-xl font-bold">Title</h1>
            <div class="rating rating-xs">
              <input
                type="radio"
                name="rating-5"
                class="mask mask-star-2 bg-orange-400"
              />
              <input
                type="radio"
                name="rating-5"
                class="mask mask-star-2 bg-orange-400"
                checked="checked"
              />
              <input
                type="radio"
                name="rating-5"
                class="mask mask-star-2 bg-orange-400"
              />
              <input
                type="radio"
                name="rating-5"
                class="mask mask-star-2 bg-orange-400"
              />
              <input
                type="radio"
                name="rating-5"
                class="mask mask-star-2 bg-orange-400"
              />
            </div>
          </div>
          <div>
            <h3 class="text-l font-semibold">Price</h3>
          </div>
        </div>
        <div class="w-[40rem]">
          <figure>
            <img
              src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
              alt="Album"
              style="width: 100%"
            />
          </figure>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="self-end">
          <div class="stats shadow">
            <div class="stat">
              <div class="stat-title">Score</div>
              <div class="stat-value">89</div>
            </div>
          </div>
        </div>
        <div>
          <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
              <p>If a dog chews shoes whose shoes does he choose?</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex justify-between items-center">
            <div class="badge badge-lg badge-primary">type</div>
            <div class="badge badge-lg">50 cO2</div>
          </div>
          <div>
            <div class="badge badge-secondary">tags</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
