<div class="card lg:card-side bg-base-100 shadow-xl">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
      alt="Album"
    />
  </figure>
  <div class="card-body flex flex-col justify-between">
    <div class="card-title justify-between items-center">
      <div class="flex flex-col gap-4">
        <h2>New album is released!</h2>
        <div class="flex gap-1">
          <span class="badge bg-slate-100">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
        </div>
      </div>
      <div class="stats shadow flex-none">
        <div class="stat text-secondary">
          <div class="stat-title">Score</div>
          <div class="stat-value">89</div>
        </div>
      </div>
    </div>
    <div class="card-actions mt-auto">
      <div class="flex w-full justify-between items-center">
        <div class="flex flex-col">
          <p>Creation date</p>
          <p class="font-bold">27/11/2024</p>
        </div>
        <h3 class="text-xl font-bold p-5">1000€</h3>
      </div>
    </div>
  </div>
</div>
